body {
	text-align: center;
	background-color: #DCDCDC;
	font-family: 'Merriweather', serif;
	margin-top: 10%;
}

.board {
	width: 29%;
	margin: 10px auto;
}
.row {
	width: 100%;
	height: 33%;
	display:flex;
	justify-content: space-around;
}

.cell {
	flex: 1 0 auto;
	background-color: #ADD8E6;
	display: inline-block;
	height: auto;
	margin: 5px;
	border-radius: 20%;
}


.cell:before {
  content:'';
  float:left;
  padding-top:100%;
}

span {
	position: relative;
	top: 30%;
	font-size: 200%;
}
